@model DemoWebsite4.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = "~/Pages/_Layout.cshtml";
    var callBackUrl = ViewBag.CallbackUrl;
}

<h2>@ViewData["Title"]</h2>
<hr/>
<div class="row">

    <div class="col-md-4">
        @*<form asp-controller="Account" asp-action="ResetPassword" method="post">
        <input type="hidden" name="UserId" value="@Model.UserId" />
        <input type="hidden" name="Email" value="@Model.Email" />
        <input type="hidden" name="Code" value="@Model.Code" />
        <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-default" />
        </div>

        </form>*@
        <a href="@callBackUrl">Click here to reset your password</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
